{{#extends 'base'}}
{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Media Property</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <th>{{this.id}}</th>
            <th>{{this.name}}</th>
            <th>{{this.cost}}</th>
            <th>{{this.description}}</th>
            <th>
                {{this.mediaProperty.name}}
                {{this.mediaProperty.description}}
                {{this.mediaProperty.url}}
            </th>
            <th>
                {{#each this.tags}}
                <span>{{this.name}}</span>   
                {{/each}}
            </th>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}