{{#extends 'base'}}
{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Media Property</th>
            <th>Tags</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>
                {{this.mediaProperty.name}}
                {{this.mediaProperty.description}}
                {{this.mediaProperty.url}}
            </td>
            <td>
                {{#each this.tags}}
                <span>{{this.name}}</span>   
                {{/each}}
            </td>
            <td>
                <img src="{{this.image_url}}" class="img-fluid">
            </td>
            <td>
                <a href="/posters/{{this.id}}/update" class="btn btn-primary btn-sm mx-2">Update</a>
                <a href="/posters/{{this.id}}/Delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}